.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jumbotron{
	background-color: #02cac8;
}
.container h1{
	color:#fff;
	font-size:52px;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}
h5{
	background-color: #02cac8;
	color:#fff;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
}
.container{
	border:5px solid #02cac8;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.btn-Style{
  margin-right:5px;
  background-color: #fff;
  border: #000 1px solid;
  font-weight: 600;
	border-radius: 5px;
}